html { 
    background: url(image/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.name {
    margin-top: 150px;
}

.bridegroom {
    width: 40%;
    padding-right: 19%;
}

.bride {
    width: 40%;
}

.happy-marriage {
    display: block;
    width: 80%;
    margin: 200px auto;
}

.bless {
    width: 100%;
    margin-bottom: 100px;
}
